@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yl75py');
  src:  url('fonts/icomoon.eot?yl75py#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yl75py') format('truetype'),
    url('fonts/icomoon.woff?yl75py') format('woff'),
    url('fonts/icomoon.svg?yl75py#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e900";
	color: #3b5998;
	background-color: white;
	border-radius: 5px;
}
.icon-google:before {
	content: "\e901";
	color: #1da1f2;
}
.icon-linkedin:before {
	content: "\e902";
	color: #4285f4;
	background-color: white;
	border-radius: 5px;
}
.icon-slack:before {
	content: "\e903";
	color: #56b68b;
}
.icon-twitter:before {
	content: "\e904";
	color: #0077b5;
}
.icon-github:before {
	content: "\e905";
}

/* My icons */
.icon {
  width: .8em;
  height: .9em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
